In [1]:
import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.0'
spark_version = 'spark-3.0.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-01-30 19:49:21--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.2’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.1s

2021-01-30 19:49:21 (6.54 MB/s) - ‘postgresql-42.2.16.jar.2’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("FinalProject").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
import pandas as pd
# Read in Zillow data from S3 Buckets
from pyspark import SparkFiles
url = "https://housingdata21.s3.us-east-2.amazonaws.com/Clean_ZillowData.csv"
spark.sparkContext.addFile(url)
zillow_df = spark.read.csv(SparkFiles.get("Clean_ZillowData.csv"), sep=",", header=True, inferSchema=True)
zillow_df.show()

+------------------+-------------------+
|       Region Name|Average ZHVI (2018)|
+------------------+-------------------+
|       Cook County|          251566.75|
|     DuPage County|           324148.0|
|       Lake County|        252448.5833|
|       Will County|        222828.4167|
|       Kane County|        239270.9167|
|    McHenry County|        223408.9167|
|  Winnebago County|           108585.5|
|Saint Clair County|        110394.9167|
|    Madison County|        122395.0833|
|  Champaign County|        143673.0833|
|   Sangamon County|        133052.5833|
|     Peoria County|        102460.6667|
|     McLean County|        157759.6667|
|Rock Island County|           107559.0|
|   Tazewell County|        122630.4167|
|    Kendall County|          238588.75|
|   La Salle County|        121535.0833|
|   Kankakee County|        138533.9167|
|      Macon County|        90090.83333|
|     DeKalb County|           167234.5|
+------------------+-------------------+
only showing top 20 rows

In [5]:
from functools import reduce

oldColumns = zillow_df.schema.names
newColumns = ["region_name", "zhvi"]

zillow_df = reduce(lambda zillow_df, idx: zillow_df.withColumnRenamed(oldColumns[idx], newColumns[idx]), range(len(oldColumns)), zillow_df)
zillow_df.printSchema()
zillow_df.show()

root
 |-- region_name: string (nullable = true)
 |-- zhvi: double (nullable = true)

+------------------+-----------+
|       region_name|       zhvi|
+------------------+-----------+
|       Cook County|  251566.75|
|     DuPage County|   324148.0|
|       Lake County|252448.5833|
|       Will County|222828.4167|
|       Kane County|239270.9167|
|    McHenry County|223408.9167|
|  Winnebago County|   108585.5|
|Saint Clair County|110394.9167|
|    Madison County|122395.0833|
|  Champaign County|143673.0833|
|   Sangamon County|133052.5833|
|     Peoria County|102460.6667|
|     McLean County|157759.6667|
|Rock Island County|   107559.0|
|   Tazewell County|122630.4167|
|    Kendall County|  238588.75|
|   La Salle County|121535.0833|
|   Kankakee County|138533.9167|
|      Macon County|90090.83333|
|     DeKalb County|   167234.5|
+------------------+-----------+
only showing top 20 rows

In [6]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://finalproject.c969jxlkzz2v.us-east-2.rds.amazonaws.com:5432/housingdata"
config = {"user":"postgres",
          "password": "ilovegroup3",
          "driver":"org.postgresql.Driver"}

In [7]:
# Write DataFrame to zillow_data table in RDS
zillow_df.write.jdbc(url=jdbc_url, table='zillow_data', mode=mode, properties=config)

In [8]:
# Read in ACS data from S3 Buckets
url ="https://housingdata21.s3.us-east-2.amazonaws.com/Clean_ACSData.csv"
spark.sparkContext.addFile(url)
acs_df = spark.read.csv(SparkFiles.get("Clean_ACSData.csv"), sep=",", header=True, inferSchema=True)

# Show DataFrame
acs_df.show(50)

+--------------------+------------+----------------+-----------+-------------+-------------+-----------+---------------+--------------+-----------+--------------+------------+--------------+--------------+-------------+-------------+------------------+---------------+----------------+---------------+----------------+-----------+-----------------+----------------+
|                 _c0|Adams County|Champaign County|Cook County|DeKalb County|DuPage County|Kane County|Kankakee County|Kendall County|Lake County|LaSalle County|Macon County|Madison County|McHenry County|McLean County|Peoria County|Rock Island County|Sangamon County|St. Clair County|Tazewell County|Vermilion County|Will County|Williamson County|Winnebago County|
+--------------------+------------+----------------+-----------+-------------+-------------+-----------+---------------+--------------+-----------+--------------+------------+--------------+--------------+-------------+-------------+------------------+---------------+----------------+---------------+----------------+-----------+-----------------+----------------+
|    Total population|      65,691|         209,983|  5,180,493|      104,143|      928,589|    534,216|        110,024|       127,915|    700,832|       109,430|     104,712|       264,461|       308,570|      172,828|      180,621|           143,477|        195,348|         261,059|        132,328|          76,806|    692,310|           67,056|         284,081|
|                Male|      32,661|         105,260|  2,516,466|       50,903|      456,716|    266,324|         54,768|        62,401|    350,487|        55,242|      50,279|       129,143|       153,957|       84,289|       87,818|            69,273|         94,821|         126,952|         65,006|          38,315|    343,985|           33,990|         138,909|
|              Female|      33,030|         104,723|  2,664,027|       53,240|      471,873|    267,892|         55,256|        65,514|    350,345|        54,188|      54,433|       135,318|       154,613|       88,539|       92,803|            74,204|        100,527|         134,107|         67,322|          38,491|    348,325|           33,066|         145,172|
|  Median age (years)|        41.5|            30.3|         37|         30.9|         39.5|       37.7|           37.5|          35.2|       38.5|          41.9|        40.9|          40.1|          40.9|         33.4|           38|              40.4|           40.7|            39.6|             41|            40.4|       38.1|             40.9|            39.5|
|               White|      61,932|         155,268|  3,077,682|       92,165|      728,595|    416,718|         90,134|       111,982|    536,569|       102,609|      85,008|       235,397|       289,649|      146,644|      139,044|           119,933|        164,881|         173,015|        127,387|          64,029|    533,099|           61,535|         234,037|
|Black or African ...|       3,375|          31,162|  1,258,171|       10,105|       53,896|     34,111|         17,867|        11,529|     56,192|         4,677|      20,336|        26,496|         8,935|       16,609|       36,799|            18,019|         28,555|          83,163|          2,609|          11,932|     88,174|            3,310|          42,409|
|American Indian a...|           N|            1174|     41,587|          258|        7,481|      4,546|            872|             N|       7069|           774|         844|          1592|         1,703|          692|        1,297|               899|          1,482|            2328|            732|             327|       8719|              876|           2,015|
|               Asian|         813|          25,698|    445,378|        3,644|      125,861|     27,668|          1,489|         5,816|     63,592|         1,294|       1,579|         4,044|        10,915|       10,785|        8,967|             4,692|          5,063|            6199|          2,019|             965|     45,616|            1,119|           9,799|
|Native Hawaiian a...|           N|               N|       6874|            N|        2,889|        639|              N|             N|       1138|             N|           N|             N|             N|            N|            N|               454|            222|             191|              N|               N|        560|                N|               N|
|     Some other race|           N|           2,713|    501,045|        1,390|       39,641|     66,943|          3,015|         1,898|     59,061|         2,567|         568|          2989|         3,775|        1,730|        2,208|             6,160|          1,010|           4,495|          1,057|           1,270|     44,507|            1,607|           5,368|
|Hispanic or Latin...|       1,091|          12,798|  1,323,017|       11,921|      134,231|    172,268|         11,691|        24,899|    155,394|        10,972|       2,459|         8,942|        41,498|        8,750|        8,878|            18,801|          4,593|          10,899|          3,069|           3,999|    123,504|            1,848|          37,271|
|Not Hispanic or L...|      64,600|         197,185|  3,857,476|       92,222|      794,358|    361,948|         98,333|       103,016|    545,438|        98,458|     102,253|       255,519|       267,072|      164,078|      171,743|           124,676|        190,755|         250,160|        129,259|          72,807|    568,806|           65,208|         246,810|
|Median income (do...|       56699|           52725|     63,353|       63,085|       93,750|     79,818|         51,404|        89,862|     87,133|        51,838|      50,066|        59,987|        85,275|       66,256|       56,138|            52,148|         61,997|          59,141|         60,857|          43,655|      85818|           43,568|          53,345|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                null|        null|            null|       null|         null|         null|       null|           null|          null|       null|          null|        null|          null|          null|         null|         null|              null|           null|            null|           null|            null|       null|             null|            null|
|                   0|           0|               0|          0|            0|            0|          0|              0|             0|          0|             0|           0|             0|             0|            0|            0|                 0|              0|               0|              0|               0|          0|                0|               0|
|                   0|           0|               0|          0|            0|            0|          0|              0|             0|          0|             0|           0|             0|             0|            0|            0|                 0|              0|               0|              0|               0|          0|                0|               0|
|                   0|           0|               0|          0|            0|            0|          0|              0|             0|          0|             0|           0|             0|             0|            0|            0|                 0|              0|               0|              0|               0|          0|                0|               0|
|                   0|           0|               0|          0|            0|            0|          0|              0|             0|          0|             0|           0|             0|             0|            0|            0|                 0|              0|               0|              0|               0|          0|                0|               0|
|                   0|           0|               0|          0|            0|            0|          0|              0|             0|          0|             0|           0|             0|             0|            0|            0|                 0|              0|               0|              0|               0|          0|                0|               0|
|                   0|           0|               0|          0|            0|            0|          0|              0|             0|          0|             0|           0|             0|             0|            0|            0|                 0|              0|               0|              0|               0|          0|                0|               0|
|                   0|           0|               0|          0|            0|            0|          0|              0|             0|          0|             0|           0|             0|             0|            0|            0|                 0|              0|               0|              0|               0|          0|                0|               0|
|                   0|           0|               0|          0|            0|            0|          0|              0|             0|          0|             0|           0|             0|             0|            0|            0|                 0|              0|               0|              0|               0|          0|                0|               0|
|                   0|           0|               0|          0|            0|            0|          0|              0|             0|          0|             0|           0|             0|             0|            0|            0|                 0|              0|               0|              0|               0|          0|                0|               0|
+--------------------+------------+----------------+-----------+-------------+-------------+-----------+---------------+--------------+-----------+--------------+------------+--------------+--------------+-------------+-------------+------------------+---------------+----------------+---------------+----------------+-----------+-----------------+----------------+
only showing top 50 rows

In [9]:
# Transpose ACS DataFrame
acs_df = acs_df.toPandas().set_index("_c0").transpose()
acs_df

_c0                Total population       Male     Female  ...  0  0  0
Adams County                 65,691     32,661     33,030  ...  0  0  0
Champaign County            209,983    105,260    104,723  ...  0  0  0
Cook County               5,180,493  2,516,466  2,664,027  ...  0  0  0
DeKalb County               104,143     50,903     53,240  ...  0  0  0
DuPage County               928,589    456,716    471,873  ...  0  0  0
Kane County                 534,216    266,324    267,892  ...  0  0  0
Kankakee County             110,024     54,768     55,256  ...  0  0  0
Kendall County              127,915     62,401     65,514  ...  0  0  0
Lake County                 700,832    350,487    350,345  ...  0  0  0
LaSalle County              109,430     55,242     54,188  ...  0  0  0
Macon County                104,712     50,279     54,433  ...  0  0  0
Madison County              264,461    129,143    135,318  ...  0  0  0
McHenry County              308,570    153,957    154,613  ...  0  0  0
McLean County               172,828     84,289     88,539  ...  0  0  0
Peoria County               180,621     87,818     92,803  ...  0  0  0
Rock Island County          143,477     69,273     74,204  ...  0  0  0
Sangamon County             195,348     94,821    100,527  ...  0  0  0
St. Clair County            261,059    126,952    134,107  ...  0  0  0
Tazewell County             132,328     65,006     67,322  ...  0  0  0
Vermilion County             76,806     38,315     38,491  ...  0  0  0
Will County                 692,310    343,985    348,325  ...  0  0  0
Williamson County            67,056     33,990     33,066  ...  0  0  0
Winnebago County            284,081    138,909    145,172  ...  0  0  0

[23 rows x 54 columns]

In [10]:
#Drop all NaN columns
acs_df = acs_df.dropna(axis=1, how='all')
acs_df

_c0                Total population       Male     Female  ...  0  0  0
Adams County                 65,691     32,661     33,030  ...  0  0  0
Champaign County            209,983    105,260    104,723  ...  0  0  0
Cook County               5,180,493  2,516,466  2,664,027  ...  0  0  0
DeKalb County               104,143     50,903     53,240  ...  0  0  0
DuPage County               928,589    456,716    471,873  ...  0  0  0
Kane County                 534,216    266,324    267,892  ...  0  0  0
Kankakee County             110,024     54,768     55,256  ...  0  0  0
Kendall County              127,915     62,401     65,514  ...  0  0  0
Lake County                 700,832    350,487    350,345  ...  0  0  0
LaSalle County              109,430     55,242     54,188  ...  0  0  0
Macon County                104,712     50,279     54,433  ...  0  0  0
Madison County              264,461    129,143    135,318  ...  0  0  0
McHenry County              308,570    153,957    154,613  ...  0  0  0
McLean County               172,828     84,289     88,539  ...  0  0  0
Peoria County               180,621     87,818     92,803  ...  0  0  0
Rock Island County          143,477     69,273     74,204  ...  0  0  0
Sangamon County             195,348     94,821    100,527  ...  0  0  0
St. Clair County            261,059    126,952    134,107  ...  0  0  0
Tazewell County             132,328     65,006     67,322  ...  0  0  0
Vermilion County             76,806     38,315     38,491  ...  0  0  0
Will County                 692,310    343,985    348,325  ...  0  0  0
Williamson County            67,056     33,990     33,066  ...  0  0  0
Winnebago County            284,081    138,909    145,172  ...  0  0  0

[23 rows x 26 columns]

In [11]:
#Drop all columns with "0"
acs_df = acs_df.drop(['0'], axis=1)
acs_df

_c0                Total population  ... Median income (dollars)
Adams County                 65,691  ...                   56699
Champaign County            209,983  ...                   52725
Cook County               5,180,493  ...                  63,353
DeKalb County               104,143  ...                  63,085
DuPage County               928,589  ...                  93,750
Kane County                 534,216  ...                  79,818
Kankakee County             110,024  ...                  51,404
Kendall County              127,915  ...                  89,862
Lake County                 700,832  ...                  87,133
LaSalle County              109,430  ...                  51,838
Macon County                104,712  ...                  50,066
Madison County              264,461  ...                  59,987
McHenry County              308,570  ...                  85,275
McLean County               172,828  ...                  66,256
Peoria County               180,621  ...                  56,138
Rock Island County          143,477  ...                  52,148
Sangamon County             195,348  ...                  61,997
St. Clair County            261,059  ...                  59,141
Tazewell County             132,328  ...                  60,857
Vermilion County             76,806  ...                  43,655
Will County                 692,310  ...                   85818
Williamson County            67,056  ...                  43,568
Winnebago County            284,081  ...                  53,345

[23 rows x 13 columns]

In [12]:
acs_df.reset_index(level=0, inplace=True) 
acs_df

_c0               index  ... Median income (dollars)
0          Adams County  ...                   56699
1      Champaign County  ...                   52725
2           Cook County  ...                  63,353
3         DeKalb County  ...                  63,085
4         DuPage County  ...                  93,750
5           Kane County  ...                  79,818
6       Kankakee County  ...                  51,404
7        Kendall County  ...                  89,862
8           Lake County  ...                  87,133
9        LaSalle County  ...                  51,838
10         Macon County  ...                  50,066
11       Madison County  ...                  59,987
12       McHenry County  ...                  85,275
13        McLean County  ...                  66,256
14        Peoria County  ...                  56,138
15   Rock Island County  ...                  52,148
16      Sangamon County  ...                  61,997
17     St. Clair County  ...                  59,141
18      Tazewell County  ...                  60,857
19     Vermilion County  ...                  43,655
20          Will County  ...                   85818
21    Williamson County  ...                  43,568
22     Winnebago County  ...                  53,345

[23 rows x 14 columns]

In [13]:
column_indices = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]
new_names = ["county","total_pop","male","female","median_age","race_white","race_black","race_nativeam","race_asian","race_nativehaw","race_other","eth_hispanic","eth_nonhispanic","median_income"]
old_names = acs_df.columns[column_indices]
acs_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)
acs_df

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

_c0              county  total_pop  ... eth_nonhispanic median_income
0          Adams County     65,691  ...          64,600         56699
1      Champaign County    209,983  ...         197,185         52725
2           Cook County  5,180,493  ...       3,857,476        63,353
3         DeKalb County    104,143  ...          92,222        63,085
4         DuPage County    928,589  ...         794,358        93,750
5           Kane County    534,216  ...         361,948        79,818
6       Kankakee County    110,024  ...          98,333        51,404
7        Kendall County    127,915  ...         103,016        89,862
8           Lake County    700,832  ...         545,438        87,133
9        LaSalle County    109,430  ...          98,458        51,838
10         Macon County    104,712  ...         102,253        50,066
11       Madison County    264,461  ...         255,519        59,987
12       McHenry County    308,570  ...         267,072        85,275
13        McLean County    172,828  ...         164,078        66,256
14        Peoria County    180,621  ...         171,743        56,138
15   Rock Island County    143,477  ...         124,676        52,148
16      Sangamon County    195,348  ...         190,755        61,997
17     St. Clair County    261,059  ...         250,160        59,141
18      Tazewell County    132,328  ...         129,259        60,857
19     Vermilion County     76,806  ...          72,807        43,655
20          Will County    692,310  ...         568,806         85818
21    Williamson County     67,056  ...          65,208        43,568
22     Winnebago County    284,081  ...         246,810        53,345

[23 rows x 14 columns]

In [14]:
import pandas as pd

In [22]:
#Remove commas from acs_df
acs_df = acs_df.replace(',','', regex=True)
#Change N values to 0 in the acs_df
acs_df = acs_df.replace('N','0', regex=True)

In [23]:
#Change all columns to int values (except county which remains str)
acs_df[["total_pop","male","female","median_age","race_white","race_black","race_nativeam","race_asian","race_nativehaw","race_other","eth_hispanic","eth_nonhispanic","median_income"]] = acs_df[["total_pop","male","female","median_age","race_white","race_black","race_nativeam","race_asian","race_nativehaw","race_other","eth_hispanic","eth_nonhispanic","median_income"]].apply(pd.to_numeric)

In [24]:
acs_df = spark.createDataFrame(acs_df)
acs_df.show()

+------------------+---------+-------+-------+----------+----------+----------+-------------+----------+--------------+----------+------------+---------------+-------------+
|            county|total_pop|   male| female|median_age|race_white|race_black|race_nativeam|race_asian|race_nativehaw|race_other|eth_hispanic|eth_nonhispanic|median_income|
+------------------+---------+-------+-------+----------+----------+----------+-------------+----------+--------------+----------+------------+---------------+-------------+
|      Adams County|    65691|  32661|  33030|      41.5|     61932|      3375|            0|       813|             0|         0|        1091|          64600|        56699|
|  Champaign County|   209983| 105260| 104723|      30.3|    155268|     31162|         1174|     25698|             0|      2713|       12798|         197185|        52725|
|       Cook County|  5180493|2516466|2664027|      37.0|   3077682|   1258171|        41587|    445378|          6874|    501045|     1323017|        3857476|        63353|
|     DeKalb County|   104143|  50903|  53240|      30.9|     92165|     10105|          258|      3644|             0|      1390|       11921|          92222|        63085|
|     DuPage County|   928589| 456716| 471873|      39.5|    728595|     53896|         7481|    125861|          2889|     39641|      134231|         794358|        93750|
|       Kane County|   534216| 266324| 267892|      37.7|    416718|     34111|         4546|     27668|           639|     66943|      172268|         361948|        79818|
|   Kankakee County|   110024|  54768|  55256|      37.5|     90134|     17867|          872|      1489|             0|      3015|       11691|          98333|        51404|
|    Kendall County|   127915|  62401|  65514|      35.2|    111982|     11529|            0|      5816|             0|      1898|       24899|         103016|        89862|
|       Lake County|   700832| 350487| 350345|      38.5|    536569|     56192|         7069|     63592|          1138|     59061|      155394|         545438|        87133|
|    LaSalle County|   109430|  55242|  54188|      41.9|    102609|      4677|          774|      1294|             0|      2567|       10972|          98458|        51838|
|      Macon County|   104712|  50279|  54433|      40.9|     85008|     20336|          844|      1579|             0|       568|        2459|         102253|        50066|
|    Madison County|   264461| 129143| 135318|      40.1|    235397|     26496|         1592|      4044|             0|      2989|        8942|         255519|        59987|
|    McHenry County|   308570| 153957| 154613|      40.9|    289649|      8935|         1703|     10915|             0|      3775|       41498|         267072|        85275|
|     McLean County|   172828|  84289|  88539|      33.4|    146644|     16609|          692|     10785|             0|      1730|        8750|         164078|        66256|
|     Peoria County|   180621|  87818|  92803|      38.0|    139044|     36799|         1297|      8967|             0|      2208|        8878|         171743|        56138|
|Rock Island County|   143477|  69273|  74204|      40.4|    119933|     18019|          899|      4692|           454|      6160|       18801|         124676|        52148|
|   Sangamon County|   195348|  94821| 100527|      40.7|    164881|     28555|         1482|      5063|           222|      1010|        4593|         190755|        61997|
|  St. Clair County|   261059| 126952| 134107|      39.6|    173015|     83163|         2328|      6199|           191|      4495|       10899|         250160|        59141|
|   Tazewell County|   132328|  65006|  67322|      41.0|    127387|      2609|          732|      2019|             0|      1057|        3069|         129259|        60857|
|  Vermilion County|    76806|  38315|  38491|      40.4|     64029|     11932|          327|       965|             0|      1270|        3999|          72807|        43655|
+------------------+---------+-------+-------+----------+----------+----------+-------------+----------+--------------+----------+------------+---------------+-------------+
only showing top 20 rows

In [25]:
# Configure settings for RDS
mode = "append"
jdbc_url="jdbc:postgresql://finalproject.c969jxlkzz2v.us-east-2.rds.amazonaws.com:5432/housingdata"
config = {"user":"postgres",
          "password": "ilovegroup3",
          "driver":"org.postgresql.Driver"}

In [26]:
# Write DataFrame to acs_data table in RDS
acs_df.write.jdbc(url=jdbc_url, table='acs_data', mode=mode, properties=config)